<!-- views/index.ejs -->
<div
    class="position-relative text-center d-flex flex-column justify-content-center align-items-center gap-2 mt-4"
>
    <img src="/assets/404-pikachu.png" class="image404pikachu" alt="404 Pikachu" />
    <div id="404-text">
        <h1><%= title %></h1>
        <p>Uh oh! We couldn't find your page. Sorry 😞</p>
    </div>
</div>
