<!-- views/index.ejs -->
<div id="home-hero-text" class="d-inline-block text-center">
    <h1><%= title %></h1>
    <p>This is the home page</p>
</div>

<button type="button" class="btn btn-primary">Test</button>
