:root {
    --text: #0c060e;
    --background: #fbf9fd;
    --primary: #985abd;
    --secondary: #d696d3;
    --accent: #c670bc;
}

body {
    font-family: 'Space Grotesk', sans-serif !important;
    font-optical-sizing: auto;
    padding: 1rem;
}

navbar {
    height: 5rem;
}

navbar > a {
    height: fit-content;
    font-weight: 600;
}

#HomeBrewedTCGLogo {
    height: 100%;
}

h1 {
    font-family: 'Cal Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image404pikachu {
    margin-left: 1rem;
    max-width: 10rem;
    height: auto;
    object-fit: contain;
}

.navbar-button {
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--text) !important;
    transition: all 0.1s ease-in;
}

.navbar-button:hover {
    color: var(--accent) !important;
}

.pokemon-card-preview {
    width: 100%;
    max-width: 14rem;
}

.pokemon-card-preview:hover {
    transform: scale(1.05) rotate(-2deg);
    transition: all 0.2s ease-in;
}

.Grass {
    background-color: #7ed957;
}
.Fire {
    background-color: #ff8c00;
}
.Water {
    background-color: #00a3e0;
}
.Electric {
    background-color: #f2d600;
}
